* {
    margin: 0;
    padding: 0;
    position: relative;
    }
    nav {
      position: sticky; top: 0;
      backdrop-filter: blur(45px);
    }
    nav img {
        width: 268px;
        height: 33px;
      }
      nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 20px;
      }
      
      nav ul li {
        font-family: "roboto";
        font-size: 15px;
        color: #ababab;
        font-weight: 500;
      }
      nav ul li:hover {
        color: #00b39b;
        transition: 0.1s;
      }
      .landing-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 34px;
        padding: 50px 300px;
      }
      
      .landing-page img {
        width: 40px;
        height: 40px;
      }
      
      .landing-page h1 {
        font-size: 34px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
        color: #00b39b;
      }
      
      .landing-page .paragraphs {
        display: flex;
      }
      
      .landing-page .paragraphs p {
        font-family: "roboto";
        font-size: 16px;
        color: #747474;
        padding: 10px;
        line-height: 1.6;
      }
      .cards {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
      }
      
      .cards div {
        width: 311px;
        height: 345px;
        background-color: red;
        margin: 10px;
        padding: 32px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 20px;
      }
      
      .cards div a {
        margin-top: 100px;
      }
      
      .cards div img {
        width: 24px;
        height: 24px;
      }
      
      .cards div h1 {
        font-size: 26px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-weight: 200;
      }
      
      .cards div h2 {
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-weight: 100;
      }
      
      .cards div a {
        font-size: 19px;
        font-family: "roboto";
        color: white;
      }
      
      .cards .card1 {
        background-color: #00b39b;
      }
      
      .cards .card2 {
        background-color: #3d83df;
      }
      
      .cards .card3 {
        background-color: #1b2734;
      }
      .IDK {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: end;
        padding: 10px;
        flex-wrap: wrap;
      }
      .IDK ul li img {
        width: 60px;
        height: 60px;
        justify-content: space-around; /* Distribute space around items */
        align-items: center; /* Vertically align items in the middle */
      }
   